<h1>Listing authors</h1>

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Books</th>
    </tr>
    <%= render :partial => "layouts/author_detail", :collection => @authors, :as => :author %>
</table>

<br/>

<%= link_to 'New Author', new_author_path %>



