<!DOCTYPE html>
<html>
<head>
    <title><%= page_title(@title) %></title>
    <%= csrf_meta_tag %>
</head>
<body>
<table>
    <tr>
        <td>This is header</td>
    </tr>
    <tr>
        <td><%= yield %></td>
    </tr>
    <tr>
        <td>This is footer</td>
    </tr>
</table>
<%= yield %>
</body>
</html>